<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="footer">
            Blogpost @2022
        </div>
    <style>
        .footer{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5em;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.1);
            color: rgba(0, 0, 0, 0.411); 
        }
    </style>
</body>
</html>