<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div style="margin: 1em;">
        <h1>Welcome to My Blogpost</h1>
        <% for(var i=parcel.length-1; i>=0; i--){ %>
            <div class="card" style="margin-top: 2em;">
                <div class="d-flex justify-content-between card-header align-items-center">
                    <h2>
                        <%= parcel[i].heading %>
                    </h2>
                    <h6>
                        <%= parcel[i].date %>
                    </h6>
                </div>
                <p class="card-body">
                    <%= parcel[i].content %>
                </p>
            </div>
            <% } %>
    </div>
    <div>
        <%- include('footer'); -%>
    </div>

    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            justify-content: space-between;
        }
        h6{
            color: rgba(0, 0, 0, 0.3);
        }
    </style>
</body>

</html>